@import "../../styles/home.variables.scss";

:host {
  grid-area: list;
}

mat-card {
  height: fit-content;
  --mdc-elevated-card-container-color: #fff8;
}

.controls {
  height: fit-content;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
