<div class="wrapper">
  <ng-container *ngIf="stats$ | async as stats; else statsLoading">
    <mat-card>
      <span class="card-title">Tarefas Completas</span>
      <div class="card-content">
        <span class="card-value">{{ stats.done }}</span>
        <span class="card-icon"><mat-icon inline>check_circle</mat-icon></span>
      </div>
    </mat-card>
    <mat-card
      ><span class="card-title">Tarefas Totais</span>
      <div class="card-content">
        <span class="card-value">{{ stats.total }}</span>
        <span class="card-icon"
          ><mat-icon inline>calendar_month</mat-icon></span
        >
      </div>
    </mat-card>
  </ng-container>
</div>

<ng-template #statsLoading>
  <mat-card><mat-progress-spinner></mat-progress-spinner></mat-card>
  <mat-card><mat-progress-spinner></mat-progress-spinner></mat-card>
</ng-template>
