<mat-card class="center-x row card">
  <div class="content-wrapper">
    <div class="content-group">
      <app-chat
        [onSubmit]="handleSubmit.bind(this)"
        [disabled]="isLoading"
      ></app-chat>
    </div>
    <div class="content-group">
      <div class="response">
        <div class="response-label">Resposta:</div>
        <div class="response-text">
          <span *ngIf="chatResponse">
            {{ chatResponse.text }}
          </span>
        </div>
      </div>
    </div>
  </div>
</mat-card>
